thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.log
thesis.out
thesis.pdf
thesis.run.xml
thesis.synctex.gz
thesis.toc
thesis.lof
thesis.lot
thesis.acn
thesis.acr
thesis.alg
thesis.glg
thesis.glo
thesis.gls
thesis.glsdefs
thesis.ist
*.cut
